HTML {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
BODY {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
DIV {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
SPAN {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
OBJECT {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
IFRAME {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
H1 {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
H2 {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
H3 {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
H4 {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
H5 {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
H6 {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
P {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
BLOCKQUOTE {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
PRE {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
A {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
abbr {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
ACRONYM {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
ADDRESS {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
BIG {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
CITE {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
CODE {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
DEL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
DFN {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
EM {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
IMG {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
INS {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
KBD {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
Q {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
SAMP {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
SMALL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
STRIKE {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
STRONG {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
SUB {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
SUP {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TT {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
VAR {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
DL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
DT {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
DD {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
OL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
UL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
LI {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
FIELDSET {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
FORM {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
LABEL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
LEGEND {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TABLE {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
CAPTION {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TBODY {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TFOOT {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
THEAD {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TR {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TH {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TD {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; outline: 0
}
TABLE {
    BORDER-COLLAPSE: collapse; border-spacing: 0
}
CAPTION {
    FONT-WEIGHT: normal; TEXT-ALIGN: left
}
TH {
    FONT-WEIGHT: normal; TEXT-ALIGN: left
}
TD {
    FONT-WEIGHT: normal; TEXT-ALIGN: left
}
BLOCKQUOTE {
    quotes: none
}
Q {
    quotes: none
}
:unknown {
    outline: 0
}
BODY {
    BACKGROUND: url(../images/ear-big.png) #e4e4e4; MARGIN-BOTTOM: 20px; COLOR: #4b4b4b; LINE-HEIGHT: 1.4; FONT-FAMILY: Helvetica, Arial, sans-serif
}
.clear {
    CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 0; PADDING-TOP: 0px
}
A {
    COLOR: #2d7bb2; TEXT-DECORATION: none; outline: none
}
A:hover {
    COLOR: #4b4b4b
}
#errorExplanation {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffd7d7; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; PADDING-TOP: 10px; webkit-border-radius: 5px
}
#errorExplanation H2 {
    FONT-SIZE: 1em
}
#errorExplanation P {
    FONT-SIZE: 0.9em; MARGIN-BOTTOM: 5px
}
#errorExplanation UL {
    FONT-SIZE: 0.9em
}
#errorExplanation LI {
    MARGIN-LEFT: 20px
}
.fieldWithErrors INPUT {
    BACKGROUND: #ffd7d7
}
#signup-box {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffe640; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#signup-box A {
    FONT-WEIGHT: bold; COLOR: #990000
}
#signup-box P {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#menu {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 20px; COLOR: #aeaeae; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#menu A {
    PADDING-LEFT: 16px; BACKGROUND: url(../images/single-dot.gif) no-repeat 0px 50%; MARGIN-LEFT: 6px
}
#menu A.first {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#page-content {
    PADDING-RIGHT: 60px; PADDING-LEFT: 60px; BACKGROUND: /* url(../images/ear-big.gif) */  #fff repeat 0px 0px; PADDING-BOTTOM: 40px; MARGIN: 30px auto; WIDTH: 400px; PADDING-TOP: 40px
}
#page-content-wide {
    PADDING-RIGHT: 60px; PADDING-LEFT: 60px; BACKGROUND: /* url(../images/ear-big.gif) */  #fff no-repeat 0px 0px; PADDING-BOTTOM: 40px; MARGIN: 30px auto; WIDTH: 400px; PADDING-TOP: 40px
}
#page-content-wide {
    WIDTH: 700px
}
#logo {
    TEXT-ALIGN: center
}
.button {
    BORDER-RIGHT: #2d7bb2 2px solid; PADDING-RIGHT: 6px; BORDER-TOP: #2d7bb2 2px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND: #2d7bb2; PADDING-BOTTOM: 0.25em; MARGIN: 0px; BORDER-LEFT: #2d7bb2 2px solid; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 0.25em; BORDER-BOTTOM: #2d7bb2 2px solid; FONT-FAMILY: Helvetica, Arial, sans-serif; webkit-border-radius: 5px
}
.button:hover {
    BORDER-LEFT-COLOR: #5b605d; BACKGROUND: #5b605d; BORDER-BOTTOM-COLOR: #5b605d; BORDER-TOP-COLOR: #5b605d; BORDER-RIGHT-COLOR: #5b605d
}
#footer {
    TEXT-ALIGN: center
}
#footer P {
    MARGIN-TOP: 4px; FONT-SIZE: 0.7em; COLOR: #aeaeae
}
.form_note {
    FONT-SIZE: 0.8em; COLOR: #ccc
}
#error-page {
    TEXT-ALIGN: left
}
#error-page H1 {
    MARGIN-TOP: 30px; FONT-SIZE: 1.2em
}
#error-page P {
    MARGIN-TOP: 15px
}
#login-page P {
    PADDING-TOP: 15px
}
#login-page P#error {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffd7d7; PADDING-BOTTOM: 4px; MARGIN: 10px 0px 0px; PADDING-TOP: 4px; TEXT-ALIGN: center; webkit-border-radius: 5px
}
#login-page P#notice {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffd7d7; PADDING-BOTTOM: 4px; MARGIN: 10px 0px 0px; PADDING-TOP: 4px; TEXT-ALIGN: center; webkit-border-radius: 5px
}
#login-page P#notice {
    BACKGROUND: #e8f4d8
}
#login-page P#remember {
    FONT-SIZE: 0.8em
}
#login-page INPUT#username {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#login-page INPUT#password {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#login-page INPUT#openid_identifier {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#login-page INPUT#user_email {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#login-page INPUT#user_password {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#login-page INPUT#user_password_confirmation {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#login-page INPUT#openid_identifier {
    PADDING-LEFT: 30px; BACKGROUND: url(../images/login-bg.gif) #fff no-repeat 10px 50%; WIDTH: 93%; COLOR: #000
}
#login-page INPUT#username {
    PADDING-LEFT: 30px; BACKGROUND: url(../images/login-bg.gif) #fff no-repeat 10px 50%; WIDTH: 93%; COLOR: #000
}
#login-page INPUT#password {
    PADDING-LEFT: 30px; BACKGROUND: url(../images/login-bg.gif) #fff no-repeat 10px 50%; WIDTH: 93%; COLOR: #000
}
#login-page A.id-note {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#login-page A.new_password {
    FONT-SIZE: 0.8em; MARGIN-LEFT: 10px
}
#login-page A.back_to_login {
    FONT-SIZE: 0.8em; MARGIN-LEFT: 10px
}
#login-page P#signup {
    PADDING-RIGHT: 60px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 60px; PADDING-BOTTOM: 0px; MARGIN: 20px -60px 0px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#login-page P#what_will_happen {
    PADDING-RIGHT: 60px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 60px; PADDING-BOTTOM: 0px; MARGIN: 20px -60px 0px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#login-page P#what_will_happen {
    TEXT-ALIGN: left
}
#splash-content {
    PADDING-RIGHT: 60px; PADDING-LEFT: 60px; BACKGROUND: /* url(../images/ear-big.gif) */  #fff no-repeat 0px 0px; PADDING-BOTTOM: 40px; MARGIN: 30px auto; PADDING-TOP: 40px
}
#splash-page #logo {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/logo-big.gif) no-repeat 50% 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; TEXT-INDENT: -100000px; PADDING-TOP: 0px; HEIGHT: 95px
}
#splash-page #intro H3 {
    FONT-WEIGHT: normal; FONT-SIZE: 1.5em; MARGIN: 20px 0px; TEXT-ALIGN: center
}
#splash-page #menu {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; BACKGROUND: #b8e4f5; PADDING-BOTTOM: 10px; MARGIN: 20px -60px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#splash-page #menu UL {
    LIST-STYLE-TYPE: none
}
#splash-page #menu UL LI {
    DISPLAY: inline; MARGIN-RIGHT: 30px
}
#splash-page FORM {
    TEXT-ALIGN: center
}
#splash-page #intro-form {
    PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #b8e4f5; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#splash-page #intro-form P {
    MARGIN-BOTTOM: 5px
}
#splash-page INPUT.signup-email {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 50%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#splash-page .button {
    BORDER-RIGHT: #2d7bb2 2px solid; PADDING-RIGHT: 6px; BORDER-TOP: #2d7bb2 2px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND: #2d7bb2; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #2d7bb2 2px solid; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 0.25em; BORDER-BOTTOM: #2d7bb2 2px solid; FONT-FAMILY: Helvetica, Arial, sans-serif; webkit-border-radius: 5px
}
#splash-page #intro P STRONG A {
    FONT-WEIGHT: bold; FONT-SIZE: 1.8em; COLOR: #9a2828
}
#splash-page .columns {
    FONT-SIZE: 0.85em; FLOAT: left; TEXT-ALIGN: center
}
#splash-page .first {
    BORDER-TOP: #ccc 1px solid; MARGIN: 20px 0px; PADDING-TOP: 20px
}
#splash-page .last {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#splash-page .column {
    FLOAT: left; WIDTH: 212px; MARGIN-RIGHT: 20px; TEXT-ALIGN: left
}
#splash-page .column .last {
    MARGIN: 0px
}
#splash-page #tour {
    CLEAR: left; TEXT-ALIGN: center
}
#splash-page #tour IMG {
    BORDER-RIGHT: #e4e4e4 5px solid; BORDER-TOP: #e4e4e4 5px solid; MARGIN: 40px 0px 10px; BORDER-LEFT: #e4e4e4 5px solid; BORDER-BOTTOM: #e4e4e4 5px solid
}
#splash-page #sign-up {
    PADDING-RIGHT: 60px; PADDING-LEFT: 60px; BACKGROUND: #d9f0ff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px -60px 30px; WIDTH: 700px; PADDING-TOP: 20px
}
#splash-page #sign-up .sign-up-column {
    FLOAT: left; WIDTH: 350px
}
#splash-page #sign-up .right {
    PADDING-LEFT: 100px; WIDTH: 220px; PADDING-TOP: 55px; TEXT-ALIGN: center
}
#splash-page #sign-up .right P {
    FONT-SIZE: 0.9em
}
#splash-page .how-column {
    FLOAT: left; WIDTH: 320px
}
#splash-page .right {
    PADDING-LEFT: 40px; FONT-SIZE: 0.8em; COLOR: #ccc; TEXT-ALIGN: center
}
#splash-page .right IMG {
    BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 0px 4px 4px 0px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#splash-page .how-column H3 {
    FONT-SIZE: 1.5em; MARGIN-BOTTOM: 7px
}
#splash-page .how-column OL {
    PADDING-LEFT: 0px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
#splash-page .how-column OL LI {
    PADDING-LEFT: 30px; MARGIN-BOTTOM: 9px; LINE-HEIGHT: 1.5em
}
#splash-page .how-column OL LI.one {
    BACKGROUND: url(../images/number-one.gif) no-repeat 0px 0px
}
#splash-page .how-column OL LI.two {
    BACKGROUND: url(../images/number-two.gif) no-repeat 0px 0px
}
#splash-page .how-column OL LI.three {
    BACKGROUND: url(../images/number-three.gif) no-repeat 0px 0px
}
#splash-page .how-column OL LI.four {
    BACKGROUND: url(../images/number-four.gif) no-repeat 0px 0px
}
#splash-page .how-column OL LI.five {
    BACKGROUND: url(../images/number-five.gif) no-repeat 0px 0px
}
#splash-page #newsletter {
    PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; PADDING-TOP: 20px
}
#splash-page #newsletter H4 {
    MARGIN-BOTTOM: 5px
}
#splash-page #newsletter P {
    FONT-SIZE: 0.85em; MARGIN-BOTTOM: 5px
}
#splash-page #newsletter LABEL {
    FONT-SIZE: 0.85em; MARGIN-BOTTOM: 5px
}
#splash-page #newsletter INPUT.signup-email {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 50%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#splash-page #thankyou-confirm {
    MARGIN: 30px 0px; TEXT-ALIGN: center
}
#signup-page P#intro {
    TEXT-ALIGN: center
}
#signup-page P {
    PADDING-TOP: 15px
}
#signup-page P.wisely {
    PADDING-RIGHT: 60px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 60px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 0px; MARGIN: 20px -60px 0px; COLOR: #666; PADDING-TOP: 20px
}
#signup-page P#error {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffd7d7; PADDING-BOTTOM: 4px; MARGIN: 10px 0px 0px; PADDING-TOP: 4px; TEXT-ALIGN: center; webkit-border-radius: 5px
}
#signup-page P#notice {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffd7d7; PADDING-BOTTOM: 4px; MARGIN: 10px 0px 0px; PADDING-TOP: 4px; TEXT-ALIGN: center; webkit-border-radius: 5px
}
#signup-page P#notice {
    BACKGROUND: #e8f4d8
}
#signup-page INPUT#user_login {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#signup-page INPUT#user_email {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#signup-page INPUT#user_password {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#signup-page INPUT#user_password_confirmation {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#signup-page INPUT#user_identity_url {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
INPUT#user_empty_field {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#signup-page INPUT#user_identity_url {
    PADDING-LEFT: 30px; BACKGROUND: url(http://openid.net/login-bg.gif) #fff no-repeat 10px 50%; WIDTH: 93%
}
#signup-page A.id-note {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#signup-page #empty-field {
    DISPLAY: none
}
#settings-page P#notice {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #e8f4d8; PADDING-BOTTOM: 4px; MARGIN: 10px 0px 0px; PADDING-TOP: 4px; TEXT-ALIGN: center; webkit-border-radius: 5px
}
#settings-page P#error {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #e8f4d8; PADDING-BOTTOM: 4px; MARGIN: 10px 0px 0px; PADDING-TOP: 4px; TEXT-ALIGN: center; webkit-border-radius: 5px
}
#settings-page P#error {
    BACKGROUND: #ffd7d7
}
#settings-page P#intro {
    TEXT-ALIGN: center
}
#settings-page P {
    PADDING-TOP: 15px
}
#settings-page INPUT#user_login {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#settings-page INPUT#user_email {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#settings-page INPUT#user_identity_url {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#settings-page INPUT#user_password {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#settings-page INPUT#user_password_confirmation {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#settings-page INPUT#user_identity_url {
    PADDING-LEFT: 30px; BACKGROUND: url(http://openid.net/login-bg.gif) #fff no-repeat 10px 50%; WIDTH: 93%; COLOR: #000
}
#settings-page #export-links {
    PADDING-RIGHT: 60px; BORDER-TOP: #e4e4e4 7px solid; PADDING-LEFT: 60px; PADDING-BOTTOM: 0px; MARGIN: 20px -60px -20px; PADDING-TOP: 20px
}
#settings-page #cancel-account {
    PADDING-RIGHT: 60px; BORDER-TOP: #e4e4e4 7px solid; PADDING-LEFT: 60px; PADDING-BOTTOM: 0px; MARGIN: 20px -60px -20px; PADDING-TOP: 20px
}
#settings-page #export-links {
    MARGIN-BOTTOM: 20px
}
#cancel-page {
    TEXT-ALIGN: center
}
#cancel-page H3 {
    MARGIN-TOP: 15px
}
#help-page H3 {
    MARGIN-TOP: 20px
}
#help-page H4 {
    MARGIN-BOTTOM: 5px
}
#help-page P {
    MARGIN-BOTTOM: 20px
}
#help-page .code {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; BACKGROUND: #eee; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 5px; OVERFLOW: auto; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#help-page UL {
    MARGIN-BOTTOM: 20px; LIST-STYLE-TYPE: none
}
#about-page H3 {
    MARGIN-TOP: 20px; TEXT-ALIGN: center
}
#about-page P {
    FONT-SIZE: 0.9em; MARGIN-BOTTOM: 20px
}
#about-page IMG.mh77 {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; MARGIN-RIGHT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
#tour-page P.tour {
    TEXT-ALIGN: center
}
#tour-page .tour-screenshot {
    BORDER-RIGHT: #e4e4e4 5px solid; BORDER-TOP: #e4e4e4 5px solid; MARGIN: 40px 0px; BORDER-LEFT: #e4e4e4 5px solid; BORDER-BOTTOM: #e4e4e4 5px solid
}
#tour-page OL {
    PADDING-LEFT: 30px; MARGIN-BOTTOM: 30px
}
#tour-page LI {
    MARGIN-BOTTOM: 15px
}
#screencasts-page P.video {
    MARGIN: 30px 0px; TEXT-ALIGN: center
}
#import-page #logo {
    MARGIN-BOTTOM: 30px
}
#import-page H2 {
    MARGIN-TOP: 15px; MARGIN-BOTTOM: 5px
}
#import-page FORM {
    PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; BACKGROUND: #e4e4e4; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#import-page .import-note {
    PADDING-RIGHT: 10px; MARGIN-TOP: 15px; PADDING-LEFT: 10px; FONT-SIZE: 0.8em; BACKGROUND: #ffffcc; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#import-page .import-note P {
    MARGIN-TOP: 5px
}
#loginMsg{
	color:red;
	font-size:14px;
	padding-top:5px;
	text-align:center;
}